<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webbed.rankit.newbie" >


    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:name=".main.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.NewActivity"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
            </activity>

        <activity
            android:name=".main.EventDescription"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
        </activity>

        <activity
            android:name=".Intents.ContactUs"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
        </activity>


        <activity
            android:name=".Intents.Cybonito"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
        </activity>


        <activity
            android:name=".Intents.Department"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
        </activity>



        <activity
            android:name=".Intents.Team"
            android:label="@string/app_name">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
        </activity>


        <activity
            android:name=".main.AboutApp"
            android:label="@string/app_name">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity"></meta-data>
        </activity>

    </application>

</manifest>
